---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-4xl">Welcome to AI Doc online AI power text editor</h1>
	</main>
</Layout>

<style>
</style>
