<section class="min-h-[85vh] overflow-x-hidden overflow-y-hidden">
    <div
        class="container mx-auto px-4 max-w-screen-xl flex flex-wrap min-h-[85vh] h-full"
    >
        <div class="flex-[6] flex flex-col gap-5 justify-center">
            <div>
                <span
                    class="bg-amber-50 text-amber-600 text-xs font-medium mr-2 px-1.5 py-1 rounded-full"
                    >Document Writer</span
                >

                <h1 class="text-5xl font-bold uppercase leading-snug">
                    AI-Driven Writing: Fast, Efficient, and <span class="bg-gradient-to-tr from-indigo-600 via-indigo-500 to-indigo-400 text-transparent bg-clip-text">Intelligent</span>
                </h1>
            </div>
            <p class="text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                expedita illum exercitationem deserunt rerum enim, delectus
                quisquam harum!
            </p>
            <button
                type="button"
                class="mt-10 py-2.5 px-6 text-sm rounded-lg bg-gradient-to-tr from-indigo-600 via-indigo-500 to-indigo-400 shadow-lg shadow-indigo-500/50 text-white cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-gradient-to-l self-start"
            >
                Getting Started
            </button>
        </div>
        <div class="flex-[5]">
            <img src="/ai-doc-landing-page/laptop-mockup.png" alt="mockup" class="scale-125 translate-x-32">
        </div>
    </div>
</section>
