<nav>
    <div class="container mx-auto px-4 max-w-screen-xl flex items-center justify-between py-6">
        <div>
            <h1 class="font-bold text-xl">AI-Doc<span class="text-4xl text-indigo-600">.</span></h1>
        </div>
        <div class="flex gap-10">
            <a href="#">FAQ</a>
            <a href="#">Pricing</a>
            <a href="#">About us</a>
            <a href="#">Contact us</a>
            <a href="#">Resources</a>
        </div>
        <div class="flex gap-7">
            <button>Sign in</button>
            <button class="py-2.5 px-6 text-sm rounded-lg bg-gradient-to-tr from-indigo-600 via-indigo-500 to-indigo-400 shadow-lg shadow-indigo-500/50 text-white cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-gradient-to-l">Get Started</button>
        </div>
    </div>
</nav>
